doctype html
head
  title Farmer One Dashboard
  link(rel='stylesheet' href='css/aoDash.css')
  script(src="/js/foDash.js") 
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')

#sidebar
  .sidebar-item.active(onclick="showPage('foRegistrartion')") Urban Farmer Registration
  .sidebar-item(onclick="showPage('foApprove')") Products Approval
  .sidebar-item(onclick="showPage('appiontNewFO')") Appoint New FO
  .sidebar-item(onclick="showPage('foAuth')") Urban Farmer Authentication
  .sidebar-item
    form(method="post", action="/logout")
                        button.btn.btn-danger(type="submit") logout
iframe#page-content(src='upload')
