doctype html
head
  title Agricultural Officer Dashboard
  link(rel='stylesheet' href='css/aoDash.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')

#sidebar
  .sidebar-item(onclick="showPage('upload')") Upload products
  .sidebar-item
   form(method="post", action="/logout")
                        button.btn.btn-danger(type="submit") logout
iframe#page-content(src='upload')
script(src="/js/ufDash.js") 
